<main class="imgBg blur">
  <form
    class="d-flex flex-column align-items-center justify-content-center h-100"
  >
    <div class="w-50">
      <h1
        class="h3 mb-3 fw-normal text-center p-1 text-warning rounded-4 text-bg-dark"
      >
        Effettua il login
      </h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          [(ngModel)]="formObj.email"
          name="email"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control mt-3"
          [(ngModel)]="formObj.password"
          name="password"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button
        (click)="login()"
        class="btn btn-warning w-100 py-2 fw-bold mt-3"
        type="submit"
      >
        Sign in
      </button>
    </div>
  </form>
</main>
