.imgBg {
  height: 100vh;
  background-image: url(https://wallpapers.com/images/hd/horror-movie-collage-7477-x-4300-v4a34khnzs7azmor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
